/********

default style rule for CSS

selector {
  property: value;
}

********/
  @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
body {
  background-color: #857896;
  font-family: 'Special Elite', cursive;
  margin-top: 300px;
}
h1 {
  color: #442D4A;
  font-size: 50px;
  text-align: center;
}
h2 {
  color: #442D4A;
  font-size: 40px;
  text-align: center;
}
p {
  color: #442D4A;
  text-align: center;
  font-size: 50px;
}
a {
  color: #2B1A2B;
}
a:hover {
  color: white;
  font-size: 75px;
}
